---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro'
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<Layout>
  <Home>
    {posts.map(post => (
    <li>
      <a href={`posts/${post.id}`}>
      {post.data.title}</a>
    </li>
  ))}
  </Home>
</Layout>
