---
import Layout from "../layouts/Layout.astro";
---

<Layout
title="Projects | Oscar's Blog"
description="Some of my projects"
>
<h1>Projects</h1>
<ul>
  <li>
    <a href="https://fivefights.app" rel="noopener" target="_blank">Five Fights - Guess the UFC fighter from 5 of their previous fights.</a>
  </li>
  <li>
    <a href="https://vintageclothing.co.nz" rel="noopener" target="_blank">Vintageclothing.co.nz - Connecting you to opshops throughout NZ.</a>
  </li>
</ul>
</Layout>