<header>
  <a class="header" href="/">
    <h1>Oscar's Blog</h1>
  </a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>