<header>
  <a class="header" href="/">
    <h1>O Town - Oscar's Blog</h1>
  </a>
  <nav>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>

<style>
.nav{
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}
</style>