<main>
  <h2>Hey! I'm Oscar Harron</h2>
  <h3>I'm into fitness, football, writing and tech.</h3>
  <p>Currently living in Auckland, New Zealand.</p>
  <p>This is a small corner of the internet I get to call my own.</p>
  <p>Currently working on this site (who doesn't love building out their personal site for the third time.)</p>
  <p>Otherwise, you can check out what I am doing <a href="/now">now.</a></p>

  <h3>Recent posts</h3>
  <ul>
    <slot />
  </ul>

</main>