<main>
  <h2>Hey! I'm Oscar Harron</h2>
  <h3>I'm into fitness, writing and tech.</h3>
  <p>Currently living in Auckland, New Zealand.</p>
  <p>This is a small corner of the internet I get to call my own.</p>

  <h3>Recent posts</h3>
  <ul>
    <li>
      <a href="/first">First</a>
    </li>
    <li>
      <a href="/scond">Second</a>
    </li>
  </ul>

</main>