<main>
  <h2>Hey! I'm Oscar Harron</h2>
  <p>This is a small corner of the internet I get to call my own.</p>
  <p>Currently working on this site (who doesn't love building out their personal site for the third time.), playing footy and learning how to be a father.</p>
  <p>Check out what I am doing <a href="/now">now.</a></p>

  <h3>Recent posts</h3>
  <ul>
    <slot />
  </ul>

</main>