---
interface Props {
  title?: string;
  description?: string;
}
const {title = "Oscar's Blog", description = "My first blog lol"} = Astro.props

import GlobalStyles from "../components/GlobalStyles.astro"
import Header from "../components/Header.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description}>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="404443e2-7337-407e-aad1-5bc9a3d6e3e8"></script>
	</head>
	<body>
      <GlobalStyles/>	
    	<Header />
		<slot />
	</body>
</html>



